body{
    background-color: #eee;
    color: #333;
}
#registerPageLink {
    margin-top: 5px;
    font-size: 13px;
    cursor: pointer;
}
#goBackToLogin {
    font-size: 13px;
    cursor: pointer;
}
.container {
    font-family: 'Courgette', cursive;
    width: 600px;
    margin: 0 auto;
}
.forms {
    background-color: #AFEEEE;
    padding: 10px;
    font-family: 'Courgette', cursive;
    border: solid 1px black;
}
.fieldset {
    background-color: #F08080;
    padding: 30px;
    border: solid 1px white;
    font-size: 18px;
}
.legend {
    border: solid 1px #333;
    background-color: #F08080;
    padding: 5px;
    font-size: 20px;
    fond-weight: bold;
}
.text {
    display: block;
    margin-bottom: 20px;
    font-size: 15px;
    font-family: Helvetica, Arial, sans-serif;
    border: solid 1px #b90707;
    background-color: #FFF5EE
}
.buttons {
    border: none;
    background-color: #FFF5EE;
    height: 25px;
    padding: 0 15px;
    font-size: 15px;
    font-family: 'Courgette', cursive;
    cursor: pointer;
}