<!DOCTYPE html>

<html>
	<head>
		<title>ToDoList</title>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="./static/css/homepage.css">

		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</head>

	<body>
		<!-- Button triggers modal -->
		<button class="buttons" type="button" id="ModalButton" data-toggle="modal" data-target="#Modal">
		  Handle Tasks
		</button>

		<!-- Modal -->
		<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
		  <div class="modal-dialog" role="document">
			<div class="modal-content">

				<!-- Add Task-->
				<div class="container">
					<form class="forms" action="creating" method="post">
						<fieldset class="fieldset">
							<legend class="legend"><strong>Add New Task</strong></legend>

							<label for="task_content">Description:</label>
							<textarea required class="text" rows="4" cols="30" name="task" id="task_content"></textarea>

							<input class="buttons" type="submit" value="Save changes">
							<input class="buttons" type="reset" value="Discard changes">
						</fieldset>
					</form>
				</div>

				<!-- Edit Task-->
				<div class="container">
					<form class="forms" action="updating" method="post">
						<fieldset class="fieldset">
							<legend class="legend"><strong>Editing a Task</strong></legend>

							<label>Task's Number(limited to one):</label>
							<input class="text" type="text" name="task_id">

							<label>Description:</label>
							<textarea class="text" rows="4" cols="30" name="new_task"></textarea>

							<input class="checkbox" type="checkbox" name="is_done" value="1">
							<label>Mark as Done</label>

							<br>

							<input class="buttons" type="submit" value="Save changes">
							<input class="buttons" type="reset" value="Discard changes">
						</fieldset>
					</form>
				</div>

				<!-- Remove Task-->
				<div class="container">
					<form class="forms" action="removing" method="post">
						<fieldset class="fieldset">
							<legend class="legend"><strong>Deleting a Task</strong></legend>

							<label>Task's Number(limited to one):</label>
							<input class="text" type="text" name="task_id">

							<input class="buttons" type="submit" value="Save changes">
							<input class="buttons" type="reset" value="Discard changes">
						</fieldset>
					</form>
				</div>

			<!--End of the Modal-->
			</div>
		  </div>
		</div>

		<!-- LogOut Button-->
		<div>
			<form action="logout">
				<input formaction="logout" class="buttons" id="LogOutButton" type="submit" value="Logout">
			</form>
		</div>

		<!--Table of all incomplete tasks-->
		<table id="IncompleteTasks">
		</table>

		<!--Table of all done tasks-->
		<table id="DoneTasks">
		</table>

	<script type='text/javascript'>
		var doneTasksArray = {{ done_tasks | safe }}
		var incompleteTasksArray = {{ incomplete_tasks | safe }}

		function incompleteTasksToTable(table, array){
			if(array.length === 0){
				var noTasksHeadline = document.createElement('h2');
				noTasksHeadline.innerHTML = "<h2>Nothing To Do..</h2>";
				table.parentNode.replaceChild(noTasksHeadline, table);
			}
			else{
				var tableData = "<thead><tr><th>Number</th><th>Description</th></tr></thead><tbody>";
				var tasksHeadline = document.createElement('h2');
				tasksHeadline.innerHTML = "<h2>What Should I do?</h2>";
				for(i=0; i<array.length; i++){
					tableData += "<tr>";
					tableData += "<td>" + Object.keys(array[i])[0] + "</td>";
					tableData += "<td>" + Object.values(array[i])[0] + "</td>";
					tableData += "</tr>";
				}
			tableData += "</tbody>";
			table.innerHTML = tableData;
			document.body.insertBefore(tasksHeadline, table);
			}}

		function doneTasksToTable(table, array){
			if(array.length === 0){
				table.parentNode.removeChild(table);
			}
			else{
				var tableData = "<thead><tr><th>Number</th><th>Description</th></tr></thead><tbody>";
				var doneTasksHeadline = document.createElement('h2');
				doneTasksHeadline.innerHTML = "<h2>Great Success!</h2>";
				for(i=0; i<array.length; i++){
					tableData += "<tr>";
					tableData += "<td>" + Object.keys(array[i])[0] + "</td>";
					tableData += "<td>" + Object.values(array[i])[0] + "</td>";
					tableData += "</tr>";
				}
			tableData += "</tbody>";
			table.innerHTML = tableData;
			document.body.insertBefore(doneTasksHeadline, table);
			}}

		incompleteTasksToTable(IncompleteTasks, incompleteTasksArray)
		doneTasksToTable(DoneTasks, doneTasksArray)
	</script>

	</body>
</html>