<!DOCTYPE html>

<html>
	<head>
		<title>Login</title>

		<link rel="stylesheet" href="./static/css/login.css">
	</head>

	<body>
		<div class="container">
			<form class="forms" action="auth" method="post">
				<fieldset class="fieldset">
					<legend class="legend"><strong>Insert Username and Password</strong></legend>

					<label for="username">Username</label>
					<input required type="text" name="user_name" id="username" class="text">

					<label for="password">Password</label>
					<input type="password" name="password" id="password" class="text" required>

					<input type="submit" value="Login" class="buttons">
					<input type="reset" value="Discard" class="buttons">

					<br>

					<a id="registerPageLink" href="register">Still not a member? Register now</a>
				</fieldset>
			</form>
		</div>
	</body>