<!DOCTYPE html>

<html>
	<head>
		<title>Registration</title>

		<link rel="stylesheet" href="./static/css/prelogin.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Courgette">
	</head>

	<body>	
		<div class="container">
			<form action="new_user" method="post" class="forms">
				<fieldset class="fieldset">
					<legend class="legend"><strong>Please fill in the details below</strong></legend>

					<label for="name">Name</label>
					<input required class="text" type="text" name="name" id="name">

					<label for="username">Username</label>
					<input required class="text" type="text" name="user_name" id="username" minlength="8">

					<label for="password">Password</label><br>
					<input class="text" type="password" name="password" id="password" minlength="8" required>

					<input type="submit" value="Register" class="buttons">
					<input type="reset" value="Discard" class="buttons">

					<br>

					<a id="goBackToLogin" href="login">Go back to the login page</a>
				</fieldset>
			</form>
		</div>
	</body>