<!DOCTYPE html>

<html>
	<head>
		<title>Registration</title>
	
		<style>
			body{
				font-family: Comic Sans MS;
				background-color: #eee;
				color: #333;
				text-align: center;
			}
       	</style>
	</head>

	<body>	
		<form action="new_user" method="post">
				<legend><strong>Insert Your User's details here</strong></legend>
				<div>
					Name: <input type="text" name="name">
					<br>
					Username: <input type="text" name="user_name">
					<br>
					Password: <input type="text" name="password">
				</div>

				<br>

				<input type="submit" value="Register">
				<input type="reset" value="Discard">
		</form>
	</body>
